.block {
    display: block;
}

.italics {
    font-style: italic;
}

.size__xs {
    font-size: $font-size-xs;
}

.size__sm {
    font-size: $font-size-sm;
}

.size__md {
    font-size: $font-size-md;
}

.size__lg {
    font-size: $font-size-lg;
}

.weight__semibold {
    font-weight: $font-weight-semibold;
}

.weight__bold {
    font-weight: $font-weight-bold;
}

.weight__light {
    font-weight: $font-weight-light;
}

.color__secondary {
    color: $color-secondaryText;
}

.color__emphasis {
    color: $color-emphasisText;
}

.color__faint {
    color: $color-faintText;
}
