@import 'theme';

.container {
    position: relative;
    display: inline-block;
}

.shadow {
    display: none;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
}

// dont render shadow when filter isn't available
:global(.cssfilters) .shadow {
    display: block;
}

.image {
    z-index: 2;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

// disable box-shadow when filter is available
:global(.cssfilters) .image {
    box-shadow: none;
}
