.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: $zindex-sky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.visible {
    visibility: visible;
}

.modal {
    z-index: 2;
    position: relative;
    padding: $gutter-lg;
    width: 600px;
    max-width: 95%;
    max-height: 70vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: $color-cardBg;
    border-radius: $radius-lg;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms ease, transform 300ms ease;

    @include scrollbar();

    .visible & {
        transition: opacity 250ms ease, transform 250ms ease;
        opacity: 1;
        transform: none;
        visibility: visible;
    }

    .leaving & {
        opacity: 0;
        transform: scale(1.05);
    }
}

.backdropDismissIcon {
    position: absolute;
    top: $gutter;
    right: $gutter;
    height: 32px;
    width: 32px;
    fill: $color-contentText;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.dismiss {
    position: absolute;
    right: $gutter;
    top: $gutter;
    color: $color-faintText;
    cursor: pointer;

    &:hover {
        color: $color-contentText;
    }
}
